* {
    --seat-height: 20vh;
    --floor-height: 23vh;
    --curtain-offset: -3vh;
    --front-board-height: 6vh;

    box-sizing: border-box;
}

img {
    user-select: none;
    pointer-events: none;
}

html, body {
    background-color: black;
}

.icon {
    height: 100%;
    aspect-ratio: 1/1;
    padding: 0.2em;

    cursor: pointer;
    pointer-events: all;
    user-modify: none;
}

.panel {
    display: flex;
    align-items: center;
    gap: 1em;
    height: 100%;

    padding: 0.5em 1em;
    border-radius: 0.5em;
    background-color: var(--panel-color);
}
